.page-header {
    display: flex;
    align-self: center;
    padding: 2rem;
}

.page-header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.page-header ul li {
    margin-right: 1rem;
    font-family:'Courier New', Courier, monospace
}

.page-header button {
    cursor: pointer;
    border: 1px solid #1a202c;
    padding: 8px;
    min-width: 64px;   
    border-radius: 1rem;
  }
   
 .page-header button:hover {
    background: green;
    color: #ffffff;
  }
