.contact-container {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin: auto;
    color:rgb(253, 255, 254);
    padding: 1rem;
    background-color: rgba(60, 60, 60, 0.5);
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input, label{
    width: 100%;
}

