.page-header nav {
    display: flex;
    background: grey;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 1rem;
}

.page-header ul {
    display: flex;
    list-style-type: none;
    flex: 2;
    justify-content: center;
}

.page-header ul li {
    margin-right: 1rem;
    font-family:'Courier New', Courier, monospace
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
 
  .page-header .cta-contact {
    order: 1;
  }
}