.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#navlist li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 120px;
    text-align: center;
}