.main-wrapper {
    display: flex;
    flex-flow: column wrap;
    border-radius: 1rem;
    background: url("./images/bkimage.jpg") no-repeat center / cover;
    min-height: 95vh;
  }

.center-element {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
  border-radius: 1rem;
 }

.page-header {
  align-self: center;
}
