body {
  display: flex;
  background-color: black;
  flex-direction: column;
}

body > * {
  margin: 1rem;
}

h1, h3, p, ul {
  color:rgb(253, 255, 254);
  font-family:'Courier New', Courier, monospace;
}

.main-wrapper {
    display: flex;
    flex-flow: column;
    border-radius: 1rem;
    background: url("./components/images/bkimage.png") no-repeat center / cover;
    min-height: 95vh;
  }

.center-element {
  display: flex;
  margin: auto;
  justify-content: center;
 }

.center-element-transition-enter {
  opacity: 0;
}
.center-element-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms, transform 1000ms;
}
