body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

h1 {
  color:rgb(253, 255, 254);
  font-family:'Courier New', Courier, monospace;
}

p {
  color: rgb(253, 255, 254);
  font-family:'Courier New', Courier, monospace;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.page-wrapper > * {
  margin: 1rem;
}